body {
    padding: 0;
    margin: 0;
}

section{
    border: 2px solid black;
    min-height: 200px;
    background: #DDFFFF;
    padding: 10px;
}

header {
    min-height: 100px;
    background: #FFFFDD;
    border: 2px solid black;
    padding: 10px;
}

.mockButton {
    background: #FFFFFF;
    border: 2px black solid;
    max-width: 50px;
}

#mockLink {
    cursor: pointer;
    color: blue;
}